.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.modal {
  width: 475px;
  border: 2px solid #001304;
  position: relative;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
  isolation: isolate;
  background-color: #111c17;
}

.modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  z-index: 0;
}

.modal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  align-self: center;
}

.description {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  opacity: 0.8;
  align-self: center;
  word-break: break-word;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formItemTitle {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  opacity: 0.8;
}

.codeInput {
  border-radius: 12px;
  border: none;
  padding: 16px 14px;
  font-size: 24px;
  font-weight: 700;
  background-color: #d5d5d5d9;
  outline: none;
  color: #002701;
  text-align: center;
  letter-spacing: 8px;
  font-family: monospace;

  &::placeholder {
    color: #002701;
    opacity: 0.5;
    letter-spacing: 8px;
  }
}

.submitButton {
  padding: 16px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: none;
  background-color: #002818;
  color: #e2e2e2;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover:not(:disabled) {
    background-color: #002d1b;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.resendButton {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: none;
  background: none;
  color: #38b6ff;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: underline;

  &:hover:not(:disabled) {
    color: #5ac5ff;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
