@import url("/fonts/inter-tight/inter-styles.css");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  overflow: hidden;
}
#root {
  min-width: 100%;
  min-height: 100vh;
}
